/* BitWise JavaScript */
/* Homework */
/* K0mputer N3rd */
/* 03/13/2022 */

/***********\
* style.css *
\***********/

body {
  color: darkblue;
  background-color: deeppink;
  text-align: center;
}

button {
  color: crimson;
  background-color: lightblue;
}
